beautifulsoup4==4.12.0
dash==2.10.0
dash-core-components==2.0.0
dash-holoniq-wordcloud==0.0.4
dash-html-components==2.0.0
es-core-news-md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.5.0/es_core_news_md-3.5.0-py3-none-any.whl#sha256=b65a00a896debcfcaec84245bc94a21b397c6b151e70d098d84b4d44d38ac14c
openai==0.27.4
pandas==2.0.0
python-dotenv==0.21.0
PyYAML==6.0
spacy==3.5.2
xata==0.10.1