

.dash-dropdown{
    width:80%;
}

.dropdown {
    width: 100%;
}

.dash-spinner {
  background-image: url("https://cdn.dribbble.com/users/1040528/screenshots/5100277/eye.gif");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
}
.dash-spinner.dash-default-spinner {
  width: 100%;
  height: 100%;
}

.dash-spinner * {
  display: none !important;
}

.gifloader
{
    width:100%;
    height: 100%;
    display: flex;

}

._dash-loading {
  margin: auto;
  color: transparent;
  width: 0;
  height: 0;
  text-align: center;
}

._dash-loading::after {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: black;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
  margin-top: 2rem;
}
